*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: url('headphones_hero_1.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 100px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.header-content h1{
    font-size: 7vmin;
    padding-bottom: 40px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
    margin-bottom: 200px;
}
/*Nav bar*/
.navbar{
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}
.nav-links{
    display: flex;
    align-items: center;
    color: whitesmoke;
}
.nav-links li{
    margin: 0 30px;
    color: whitesmoke;
}
/*Mobile Device*/
@media only screen and (max-width:100px)
{
.navbar{
    padding: 0;
}
}